/*-------- Global --------*/
@font-face {
	src: url(assets/fonts/CircularStd-Medium.ttf);
	font-family: CircularStd;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
html {
	font-family: CircularStd;
	font-weight: 100;
}
body {
	width: 60%;
	margin: auto;
	background-image: url(assets/images/BG.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.blue {
	color: #027bff;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	color: #17191a;
}
h2 {
	font-size: 35px;
	font-weight: 400;
	color: #17191a;
}
h5 {
	font-size: 20px;
	margin-top: 10px;
	color: unset;
}
p {
	color: #8f9ea5;
	opacity: 0.8;
	font-weight: 100;
	margin-top: 10px;
	font-size: 20px;
}
/*-------- Nav --------*/
.nav {
	display: flex;
	align-items: center;
	height: 100px;
}
.navIcons {
	flex: 1;
}
.navIcons {
	text-align: right;
}

.navIcons a {
	margin-left: 40px;
}

.navIcons a i {
	color: #8f9ea5;
	width: 26px;
	height: 26px;
}
.navIcons a i:hover {
	color: #027bff;
}

.navIcons a,
.contactMe a,
.contactMe i {
	display: inline-block;
	vertical-align: middle;
}
.contactMe a {
	color: #027bff;
	text-decoration: none;
	font-weight: 100;
}
.contactMe i {
	color: #027bff;
	margin-right: 15px;
}
.contactMe:hover a,
.contactMe:hover i {
	color: #8f9ea5;
}

/*-------- Modal --------*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 20px;
	width: 50%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.17), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
	animation-name: modalopen;
	animation-duration: 1s;
}
.modal-content i {
	color: #8f9ea5;
}
.closeBtn {
	color: #8f9ea5;
	float: right;
	font-size: unset;
}
.closeBtn:hover,
.closeBtn:focus {
	color: #17191a;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*-------- Landing --------*/
.landing {
	height: 100vh;
	position: relative;
}
.landingWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
ul {
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}
.landingL {
	margin-top: 4em;
}
.scroll {
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}
/*-------- Skills --------*/
.skills {
	text-align: center;
	margin-bottom: 20em;
}
.skills p {
	margin-bottom: 30px;
}
.skills img {
	width: 40px;
	margin: 0 15px;
}

/*-------- Work 01 --------*/
.work {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work > .workText {
	position: relative;
	top: 85px;
}
.work > .workText > .underline {
	display: block;
	background-color: #027bff;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.work > .workImg {
	width: 85%;
	float: right;
	-webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.07);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.07);
	box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.07);
}
.work > .textBox {
	background-color: #17191a;
	width: 350px;
	padding: 20px;
	bottom: 0;
	position: absolute;
	opacity: 0.6;
}
.work > .textBox p,
i {
	color: white;
	opacity: 1;
	font-size: 18px;
}
.work > .textBox i {
	color: white;
	float: right;
	opacity: 1;
}
/*-------- Work 02 --------*/
.work2 {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work2 > .workText {
	position: relative;
	top: 85px;
	right: 0;
	text-align: right;
}

.work2 > .workText > .underline {
	display: block;
	background-color: #027bff;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
	right: 0%;
}
.work2 > .workImg {
	width: 85%;
	float: left;
	-webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.05);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.05);
	box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.05);
}

.work2 > .textBox {
	background-color: #17191a;
	width: 350px;
	padding: 20px;
	bottom: 0;
	position: absolute;
	opacity: 0.6;
	right: 0%;
}
.work2 > .textBox p,
i {
	color: white;
	opacity: 1;
	font-size: 18px;
	text-align: right;
}
.work2 > .textBox i {
	color: white;
	float: left;
	opacity: 1;
}

/*-------- Work 01 and 02 --------*/
.work a,
.work2 a {
	text-decoration: none;
	color: #17191a;
}
.work a:hover,
.work2 a:hover {
	color: #027bff;
}

/*-------- Footer --------*/
.footer {
	background-image: url(assets/images/Github_Blue_Large.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 320px;
	padding-bottom: 7em;
	text-align: center;
}
.footer a {
	color: #027bff;
	text-decoration: none;
}
.footer a:hover {
	color: #17191a;
}
.underLineSmall {
	display: block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #027bff;
}

/*-------- Media Responsive --------*/

/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
	body {
		width: 100%;
	}
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 490px
  */

@media (min-width: 320px) and (max-width: 480px) {
	* {
		padding: 1px;
	}
	body {
		width: 146%;
	}
	.navIcons a {
		margin-left: 20px;
	}
}
