/*-------- Global --------*/
@font-face {
	src: url(assets/fonts/CircularStd-Medium.ttf);
	font-family: CircularStd;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
html {
	font-family: CircularStd;
	font-weight: 100;
}
body {
	width: 60%;
	margin: auto;
	background-image: url(assets/images/BG.png);
	background-position: top;
	background-size: contain;
	background-repeat: repeat;
}
.blue {
	color: #027bff;
}
h1 {
	font-size: 33px;
	font-weight: 400;
	color: #17191a;
}
h2 {
	font-size: 28px;
	font-weight: 400;
	color: #17191a;
}
h5 {
	font-size: 18px;
	margin-top: 10px;
	color: unset;
}
p {
	color: #8f9ea5;
	opacity: 0.8;
	font-weight: 100;
	margin-top: 10px;
	font-size: 17.5px;
}
/*-------- Scroll bar --------*/
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 5px;
}
div::-webkit-scrollbar {
	width: 8px;
}
div::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 5px;
}

/*-------- nav --------*/
.nav {
	display: flex;
	align-items: center;
	height: 100px;
}
.navIcons {
	flex: 1;
}
.navIcons {
	text-align: right;
}

.navIcons a {
	margin-left: 40px;
}

.navIcons a i {
	color: #8f9ea5;
	width: 26px;
	height: 26px;
}
.navIcons a i:hover {
	color: #027bff;
}
.navIcons a,
.contactMe a,
.contactMe i {
	display: inline-block;
	vertical-align: middle;
}
.contactMe a {
	color: #027bff;
	text-decoration: none;
	font-weight: 100;
}
.contactMe i {
	color: #027bff;
	margin-right: 15px;
}
.contactMe:hover a,
.contactMe:hover i {
	color: #8f9ea5;
}
.txtContactMe {
	font-size: 15px;
}

/*-------- Modal --------*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.modal-content {
	background-color: white;
	margin: 20% auto;
	padding: 20px;
	width: 400px;
	height: 40px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.17), 0 7px 20px 0 rgba(0, 0, 0, 0.1);
	animation-name: modalopen;
	animation-duration: 1s;
	border-radius: 8px;
}
.modal-content i {
	color: #8f9ea5;
}
.fa-envelope {
    margin-right: 20px;
}
.closeBtn {
	color: #8f9ea5;
	float: right;
	font-size: unset;
}
.closeBtn:hover,
.closeBtn:focus {
	color: #17191a;
	text-decoration: none;
	cursor: pointer;
}
@keyframes modalopen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*-------- Landing --------*/
.landing {
	height: 100vh;
	position: relative;
}
.landingWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
ul {
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}
.landingL {
	margin-top: 4em;
}
.landingR img {
	width: 300px;
}
.scroll {
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}
/*-------- Skills --------*/
.skills {
	text-align: center;
	margin-bottom: 20em;
}
.skills p {
	margin-bottom: 30px;
}
.skills img {
	width: 40px;
	margin: 0 18px;
	-webkit-filter: grayscale(100%) brightness(100%) sepia(40%) hue-rotate(-180deg) saturate(500%) contrast(0.8);
	filter: grayscale(100%) brightness(100%) sepia(40%) hue-rotate(-180deg) saturate(500%) contrast(0.8);
}
.skills img:hover {
	-webkit-filter: grayscale(0%) brightness(100%) sepia(0%) hue-rotate(0deg) saturate(100%) contrast(1);
	filter: grayscale(0%) brightness(100%) sepia(0%) hue-rotate(0deg) saturate(100%) contrast(1);
}

/*-------- Work 01 --------*/
.work {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work > .workText {
	position: relative;
	top: 100px;
}
.work > .workText > .underline {
	display: block;
	background-color: #027bff;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.work > .workImg {
	width: 85%;
	float: right;
	-webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.07);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.07);
	box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.07);
}
#textbox1 {
	background-color: white;
	width: 350px;
	height: 0px;
	padding: 20px 20px 20px 0px;
	bottom: -5px;
	position: absolute;
	list-style: none;
	opacity: 0;
	transition: 1s;
	overflow: hidden;
	border-radius: 10px;
}
.work > .textBox p {
	color: black;
	font-size: 16px;
	text-align: justify;
}
.work > .textBox i {
	color: black;
	float: right;
	padding-right: 13px;
	margin-top: 10px;
}
.work:hover #textbox1 {
	transition: 1s;
	opacity: 0.9;
	height: 130px;
}
.work:hover .textBoxChild {
	opacity: 0.6;
	transition: 1.2s;
	bottom: 0;
}
.work > .textBox li {
	font-size: 110%;
	margin-top: 0px;
}
#textbox1 li:hover i {
	color: #027bff;
}
.textBoxChild {
	width: auto;
	color: rgb(0, 0, 0);
	opacity: 0;
	border-radius: 5px;
	position: absolute;
	bottom: -5px;
	font-size: 12px;
	transition: 1s;
}
/*-------- Work 02 --------*/
.work2 {
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work2 > .workText {
	position: relative;
	top: 100px;
	right: 0;
	text-align: right;
}
.work2 > .workText > .underline {
	display: block;
	background-color: #027bff;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
}
.work2 > .workImg {
	width: 85%;
	float: left;
	-webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.05);
	-moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.05);
	box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.05);
}
#textbox2 {
	background-color: white;
	width: 350px;
	height: 0px;
	padding: 20px 0px 20px 20px;
	bottom: -5px;
	right: 0;
	position: absolute;
	list-style: none;
	opacity: 0;
	transition: 1s;
	overflow: hidden;
	border-radius: 10px;
}
.work2 > .textBox p {
	color: black;
	font-size: 16px;
	text-align: justify;
}
.work2 > .textBox i {
	color: black;
	float: right;
	padding-right: 13px;
	margin-top: 10px;
}
.work2:hover #textbox2 {
	transition: 1s;
	opacity: 0.9;
	height: 130px;
}
.work2:hover .textBoxChild2 {
	opacity: 0.6;
	transition: 1.2s;
	bottom: 0;
}
.work2 > .textBox li {
	font-size: 110%;
	margin-top: 0px;
}
#textbox2 li:hover i {
	color: #027bff;
}
.textBoxChild2 {
	width: auto;
	color: rgb(0, 0, 0);
	opacity: 0;
	border-radius: 5px;
	position: absolute;
	bottom: -5px;
	font-size: 12px;
	transition: 1s;
}
/*-------- Work 01 and 02 --------*/
.work a,
.work2 a {
	text-decoration: none;
	color: #17191a;
}
.work a:hover,
.work2 a:hover {
	color: #027bff;
}
/*-------- Footer --------*/
.footer {
	background-image: url(assets/images/Github_Blue_Large.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 320px;
	padding-bottom: 7em;
	text-align: center;
}
.footer a {
	color: #027bff;
	text-decoration: none;
}
.footer a:hover {
	color: #17191a;
}
.underLineSmall {
	display: block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #027bff;
}


/*-------- Scroll To Top --------*/
#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: #027bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
	animation: openScrollBtn .8s;
	
	width: 45px;
	height: 45px;
}

#scrollToTop:focus {
    background-color: #888;
}

@keyframes openScrollBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------- Media Responsive --------*/
@media (min-width: 881px) and (max-width: 1024px) {
	body {
		background-size: contain;
	}

	
	.landing {
		height: 100vh;
	}


	.navIcons a i {
		font-size: 25px;
	}
	.contactMe a i {
		font-size: 23px;
	}
	h1 {
		font-size: 27px;
	}
	p {
		font-size: 15px;
	}
	.landingR img {
		width: 270px;
	}
	.scroll {
		bottom: 150px;
		width: 14px;
	}


	.modal-content {
		width: 300px;
		height: 30px;
	}

	.skills {
		margin-bottom: 20em;
	}
	h2 {
		font-size: 22px;
	}
	.skills img {
		width: 28px;
		margin: 0 12px;
	}


	.work {
		margin-bottom: 10em;
	}
	.work > .workText {
		top: 72px;
	}
	.work > .workText > .underline {
		height: 3px;
		width: 55px;
	}
	h5 {
		font-size: 14px;
	}
	.work > .workImg {
		width: 86%;
	}
	#textbox1 {
		width: 285px;
	}
	.work:hover #textbox1 {
		height: 100px;
	}
	.work > .textBox p {
		font-size: 14px;
	}
	.work > .textBox li i {
		font-size: 20px;
		margin-top: 10px;
	}
	.textBoxChild {
		font-size: 11px;
	}


	.work2 {
		margin-bottom: 10em;
	}
	.work2 > .workText {
		top: 80px;
	}
	.work2 > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	h5 {
		font-size: 16px;
	}
	.work2 > .workImg {
		width: 86%;
	}
	#textbox2 {
		width: 285px;
	}
	.work2:hover #textbox2 {
		height: 100px;
	}
	.work2 > .textBox p {
		font-size: 14px;
	}
	.work2 > .textBox li i {
		font-size: 20px;
		margin-top: 10px;
	}
	.textBoxChild2 {
		font-size: 11px;
	}


	h3 {
		font-size: 14px;
	}
	.underLineSmall {
		height: 2.8px;
		width: 38px;
	}
	.footer {
		background-size: 250px;
	}


}
@media (min-width: 692px) and (max-width: 880px) {
	body {
		background-size: contain;
		width: 70vw;
	}

	
	.landing {
		height: 100vh;
	}


	.navIcons a i {
		font-size: 25px;
	}
	.contactMe a i {
		font-size: 23px;
	}
	h1 {
		font-size: 26px;
	}
	p {
		font-size: 15px;
	}
	.landingR img {
		width: 240px;
	}
	.scroll {
		bottom: 160px;
		width: 14px;
	}


	.modal-content {
		width: 300px;
		height: 30px;
	}

	.skills {
		margin-bottom: 10em;
	}
	h2 {
		font-size: 21px;
	}
	.skills img {
		width: 28px;
		margin: 0 12px;
	}


	.work {
		margin-bottom: 10em;
	}
	.work > .workText {
		top: 72px;
	}
	.work > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	h5 {
		font-size: 14px;
	}
	.work > .workImg {
		width: 85%;
	}
	#textbox1 {
		width: 285px;
	}
	.work:hover #textbox1 {
		height: 100px;
	}
	.work > .textBox p {
		font-size: 14px;
	}
	.work > .textBox li i {
		font-size: 22px;
	}
	.textBoxChild {
		font-size: 11px;
	}


	.work2 {
		margin-bottom: 10em;
	}
	.work2 > .workText {
		top: 72px;
	}
	.work2 > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	h5 {
		font-size: 16px;
	}
	.work2 > .workImg {
		width: 85%;
	}
	#textbox2 {
		width: 285px;
	}
	.work2:hover #textbox2 {
		height: 100px;
	}
	.work2 > .textBox p {
		font-size: 14px;
	}
	.work2 > .textBox li i {
		font-size: 22px;
	}
	.textBoxChild2 {
		font-size: 11px;
	}


	h3 {
		font-size: 14px;
	}
	.underLineSmall {
		height: 2.8px;
		width: 38px;
	}
	.footer {
		background-size: 240px;
	}


}
@media (min-width: 631px) and (max-width: 691px) {
	body {
		background-size: contain;
		width: 70vw;
	}

	
	.landing {
		height: 100vh;
	}


	.navIcons a {
		margin-left: 30px;
	}
	.navIcons a i {
		font-size: 21px;
	}
	.contactMe i {
		font-size: 21px;
	}
	.txtContactMe {
		font-size: 12px;
	}
	h1 {
		font-size: 23px;
	}
	p {
		font-size: 13px;
	}
	.landingR img {
		width: 230px;
	}
	.scroll {
		bottom: 150px;
		width: 14px;
	}


	.modal-content {
		width: 300px;
		height: 30px;
	}


	.skills {
		margin-bottom: 10em;
	}
	h2 {
		font-size: 22px;
	}
	.skills img {
		width: 28px;
		margin: 0 12px;
	}


	.work {
		margin-bottom: 10em;
	}
	.work > .workText {
		top: 72px;
	}
	.work > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	h5 {
		font-size: 14px;
	}
	.work > .workImg {
		width: 84%;
	}
	#textbox1 {
		width: 285px;
	}
	.work:hover #textbox1 {
		height: 95px;
	}
	.work > .textBox p {
		font-size: 13.5px;
	}
	.work > .textBox li i {
		font-size: 21px;
		margin-top: 8px;
	}
	.textBoxChild {
		font-size: 10.5px;
	}


	.work2 {
		margin-bottom: 10em;
	}
	.work2 > .workText {
		top: 72px;
	}
	.work2 > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	.work2 > .workImg {
		width: 84%;
	}
	#textbox2 {
		width: 285px;
	}
	.work2:hover #textbox2 {
		height: 95px;
	}
	.work2 > .textBox p {
		font-size: 13.5px;
	}
	.work2 > .textBox li i {
		font-size: 21px;
		margin-top: 8px;
	}
	.textBoxChild2 {
		font-size: 10.5px;
	}


	h3 {
		font-size: 14px;
	}
	.underLineSmall {
		height: 2.8px;
		width: 38px;
	}
	.footer {
		background-size: 240px;
	}


}
@media (min-width: 540px) and (max-width: 630px) {
	body {
		background-size: contain;
		width: 78vw;
	}

	
	.landing {
		height: 100vh;
	}


	.navIcons a {
		margin-left: 30px;
	}
	.navIcons a i {
		font-size: 21px;
	}
	.contactMe i {
		font-size: 21px;
	}
	.txtContactMe {
		font-size: 12px;
	}
	h1 {
		font-size: 23px;
	}
	p {
		font-size: 13px;
	}
	.landingR img {
		width: 190px;
	}
	.scroll {
		bottom: 150px;
		width: 14px;
	}


	.modal-content {
		width: 300px;
		height: 30px;
	}


	.skills {
		margin-bottom: 10em;
	}
	h2 {
		font-size: 22px;
	}
	.skills img {
		width: 28px;
		margin: 0 12px;
	}


	.work {
		margin-bottom: 10em;
	}
	.work > .workText {
		top: 72px;
	}
	.work > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	h5 {
		font-size: 14px;
	}
	.work > .workImg {
		width: 84%;
	}
	#textbox1 {
		width: 285px;
	}
	.work:hover #textbox1 {
		height: 95px;
	}
	.work > .textBox p {
		font-size: 13px;
	}
	.work > .textBox li i {
		font-size: 21px;
		margin-top: 10px;
	}
	.textBoxChild {
		font-size: 10.5px;
	}


	.work2 {
		margin-bottom: 10em;
	}
	.work2 > .workText {
		top: 72px;
	}
	.work2 > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	.work2 > .workImg {
		width: 84%;
	}
	#textbox2 {
		width: 285px;
	}
	.work2:hover #textbox2 {
		height: 95px;
	}
	.work2 > .textBox p {
		font-size: 13px;
	}
	.work2 > .textBox li i {
		font-size: 21px;
		margin-top: 10px;
	}
	.textBoxChild2 {
		font-size: 10.5px;
	}


	h3 {
		font-size: 14px;
	}
	.underLineSmall {
		height: 2.8px;
		width: 38px;
	}
	.footer {
		background-size: 240px;
	}


}

@media (min-width: 480px) and (max-width: 539px) {
	body {
		background-size: contain;
		width: 80vw;
	}

	
	.landing {
		height: 100vh;
	}


	.navIcons a {
		margin-left: 28px;
	}
	.navIcons a i {
		font-size: 21px;
	}
	.contactMe i {
		font-size: 21px;
	}
	.txtContactMe {
		font-size: 12px;
	}
	h1 {
		font-size: 22px;
	}
	p {
		font-size: 12px;
	}
	.landingR img {
		width: 170px;
	}
	.scroll {
		bottom: 150px;
		width: 14px;
	}


	.modal-content {
		width: 300px;
		height: 30px;
	}


	.skills {
		margin-bottom: 10em;
	}
	h2 {
		font-size: 22px;
	}
	.skills img {
		width: 28px;
		margin: 0 12px;
	}


	.work {
		margin-bottom: 10em;
	}
	.work > .workText {
		top: 70px;
	}
	.work > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	h5 {
		font-size: 12.5px;
	}
	.work > .workImg {
		width: 84%;
	}
	#textbox1 {
		width: 285px;
	}
	.work:hover #textbox1 {
		height: 95px;
	}
	.work > .textBox p {
		font-size: 13px;
	}
	.work > .textBox li i {
		font-size: 20.5px;
		margin-top: 10px;
	}
	.textBoxChild {
		font-size: 10px;
	}


	.work2 {
		margin-bottom: 10em;
	}
	.work2 > .workText {
		top: 70px;
	}
	.work2 > .workText > .underline {
		height: 3px;
		width: 56px;
	}
	.work2 > .workImg {
		width: 84%;
	}
	#textbox2 {
		width: 285px;
	}
	.work2:hover #textbox2 {
		height: 95px;
	}
	.work2 > .textBox p {
		font-size: 13px;
	}
	.work2 > .textBox li i {
		font-size: 20.5px;
		margin-top: 10px;
	}
	.textBoxChild2 {
		font-size: 10px;
	}


	h3 {
		font-size: 14px;
	}
	.underLineSmall {
		height: 2.8px;
		width: 38px;
	}
	.footer {
		background-size: 230px;
	}


}

@media (min-width: 320px) and (max-width: 479px) {
	body {
		background-size: contain;
		width: 85vw;
	}

	
	.landing {
		height: 80vh;
	}
	.landingWrapper {
		margin-top: -30px;
	}


	.navIcons a {
		margin-left: 20px;
	}
	.navIcons a i {
		font-size: 21px;
	}
	.contactMe i {
		font-size: 21px;
	}
	.txtContactMe {
		font-size: 12px;
	}
	h1 {
		font-size: 23px;
	}
	p {
		font-size: 12px;
	}
	.landingR img {
		width: 170px;
		margin-top: 50px;
	}
	.scroll {
		bottom: 5vh;
		width: 13px;
	}


	.modal-content {
		width: 300px;
		height: 30px;
	}


	.skills {
		margin-bottom: 10em;
	}
	h2 {
		font-size: 22px;
	}
	.skills img {
		width: 28px;
		margin: 0 12px;
	}


	.work {
		margin-bottom: 10em;
	}
	.work > .workText {
		top: 60px;
	}
	.work > .workText > .underline {
		height: 3px;
		width: 48px;
	}
	h5 {
		font-size: 13px;
	}
	.work > .workImg {
		width: 84%;
	}
	#textbox1 {
		width: 274px;
	}
	.work:hover #textbox1 {
		height: 85px;
	}
	.work > .textBox p {
		font-size: 13px;
	}
	.work > .textBox li i {
		font-size: 19px;
		margin-top: 3px;
	}
	.textBoxChild {
		font-size: 10px;
	}


	.work2 {
		margin-bottom: 10em;
	}
	.work2 > .workText {
		top: 60px;
	}
	.work2 > .workText > .underline {
		height: 3px;
		width: 48px;
	}
	.work2 > .workImg {
		width: 84%;
	}
	#textbox2 {
		width: 274px;
	}
	.work2:hover #textbox2 {
		height: 85px;
	}
	.work2 > .textBox p {
		font-size: 13px;
	}
	.work2 > .textBox li i {
		font-size: 19px;
		margin-top: 3px;
	}
	.textBoxChild2 {
		font-size: 10px;
	}


	h3 {
		font-size: 14px;
	}
	.underLineSmall {
		height: 2.8px;
		width: 38px;
	}
	.footer {
		background-size: 230px;
	}


}
